@using PagedList
@using PagedList.Mvc
@model  IPagedList<MvcBlog.Models.Makale>
@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container-fluid">
    @foreach (var item in Model)
    {
        <article class="mt-3">
            <h3>
                <a href="/Home/MakaleDetay/@item.MakaleId">@item.Baslik</a>
            </h3>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span> @String.Format("{0: dd MMMM yyyy}", @item.Tarih)</span>
            |
            <i class="fa fa-tags" aria-hidden="true"></i>
            <span>@item.Etikets.Count()</span>
            <hr />
            <img class="img-fluid" src="@item.Foto" alt="@item.Baslik" />
            <hr />
            @if (item.Icerik.Length > 140)
            {
                <p>@Html.Raw(item.Icerik.Substring(0, 140))...</p>
            }
            else
            {
                <p>@Html.Raw(item.Icerik)...</p>
            }
            <a class="btn btn-primary" href="/Home/MakaleDetay/@item.MakaleId">Yazının Devamı...<span class="glyphicon glyphicon-chevron-right"></span> </a>
            <p class="col-md-5 mt-2">
                <img class="img-thumbnail" width="75" src="@item.UyeTablo.Foto" alt="@item.UyeTablo.AdSoyad" /><br /> <a class="col-md-5 mt-2" href="/Uye/UyeProfil/@item.UyeTablo.UyeId">@item.UyeTablo.KullaniciAdi</a>
            </p>
            <hr />
        </article>
    }
    <!-- Pagination -->
    <div class="row">
        <div class="col-md-8 text-center">
            <div class="pagedList pagination">
                @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.Classic)
            </div>
        </div>
    </div>
</div> 